@font-face {
    font-family: "Times New Roman";
    src: url("fonts/timesnewromanpsmt.ttf") format("truetype");
}
body {
    font-family: "Times New Roman", Times, serif;
}
:root {
    --primary-color: #252525;
    --overlay-color: rgb(37, 37, 37, 0.85);
    --menu-speed: 0.75s;
}
.header {
    color: #1e1e1e;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000000000000000;
    border-bottom: 1px gray solid;
}
.header__container {
    position: relative;
    margin: 0 auto;
    padding: 23px 20px 11px 20px;
    max-width: 1852px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__center {
    max-width: 324px;
    height: 40px;
}

.logo {
    width: 100%;
    height: 100%;
}
.nav__left,
.nav__right {
    display: flex;
    gap: 40px;
}
.nav__ul {
    display: flex;
    gap: 40px;
}
.nav__ul li a{
    color: black;
}
.nav__ul li:hover {
    color: black;
    border-bottom: 1px solid black;
    text-transform: uppercase !important;
}
.menu-wrap {
    display: none;
}

/* STORIES */

.stories {
    width: 100%;
    height: 100%;
    padding: 78px 50px 80px 50px;
    justify-content: center;
    align-items: center;
}

.stories__container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-image: url("../img/stories__back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    padding-top: 54%;
    align-items: right;
}

.stories__play {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 40%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.stories__text {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 80px;
    /* line-height: 0.76; */
    color: white;
    text-align: right;
}

/* NAMES */

.names {
    width: 100%;
    background-color: #f3f3f3;
}
.names__container {
    margin: 0 auto;
    padding: 80px 40px;
    max-width: 1077px;
    text-align: center;
    align-items: center;
    text-transform: uppercase !important;
}
.names__top-text {
    color: #333333;
    font-size: 20px;
}
.names__main-text {
    padding: 60px 0 60px 0;
    line-height: 0.85;
    font-size: 110px;
}
.names__base-text {
    font-size: 20px;
}
.names__bottom-text {
    font-size: 20px;
}
.names__link {
    margin: 0 auto;
    color: #333333;
    max-width: 250px;
    line-height: 2;
    display: block;
    padding-top: 60px;
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

/* FILMS */

.films {
    width: 100%;
    text-transform: uppercase !important;
}
.films__container {
    padding: 0 34px;
    max-width: 1852px;
}
.films__title {
    text-align: center;
    padding: 100px 0;
    font-size: 36px;
}
.films__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px;
}
.films__item {
    max-width: 586px;
    text-align: center;
    align-items: center;
}
.films__img img {
    border-radius: 68px;
}
.films__text {
    padding-top: 10px;
    font-size: 36px;
}
.films__link {
    display: block;
    color: black;
    text-align: center;
    margin: 100px auto;
    max-width: 500px;
    font-size: 48px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

/* Instagram */

.instagram {
    padding: 25px 0 100px 0;
}

.instagram__title {
    color: #333333;
    font-size: 36px;
    text-transform: uppercase !important;
    padding: 50px 0 50px 50px;
}

.instagram .swiper-container {
    width: 200px;
    height: 200px;
}

.instagram .instSwiper .swiper-wrapper .swiper-slide {
    height: 200px !important;
    width: 200px !important;
}

.instagram .instSwiper .swiper-wrapper .swiper-slide img {
    border-radius: 8%;

    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* FEEDBACK */

.feedback__container {
    margin: 0 auto;
    max-width: 830px;
    display: flex;

    padding: 100px 50px 200px 50px;
    gap: 40px;
}
.feedback__container .feedback__text {
    width: 600px;
}
.feedback__container .feedback__text h4 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 35px;
}

.feedback__container .feedback__text p {
    font-size: 16px;
    color: #828282;
}

.feedback__container form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: left;
    color: #828282;
}
.feedback__container form div input {
    padding-bottom: 20px;
}

.feedback__container form div {
    max-width: 360px;
    border-bottom: 1px solid black;
}
.feedback__container form button {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: left;
    text-transform: uppercase !important;
    text-align: left;
}

/* FOOTER */

.footer {
    justify-content: center;
}
.footer__container {
    border-top: 1px solid black;
    margin: 0 auto;
    max-width: 1300px;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}
.footer__right {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    color: #252525;
    gap: 50px;
}

.footer__right .img {
    max-width: 445px;
    height: 61px;
}
.footer__right .img img {
    width: 100%;
    height: 100%;
}
.footer__left {
    color: #333744;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer__left ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__left ul a {
    color: #333744;
    align-items: center;
    font-size: 16px;
    display: flex;
    gap: 18px;
}
.footer__left div {
    display: flex;
    gap: 45px;
}
.footer__left div a {
    font-size: 14px;
    color: #8c8c8c;
    text-transform: uppercase;
}

/* MOBILE NAVIGATION */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: "";
    background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
        no-repeat center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 65px;
    height: 65px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

@media (max-width: 1200px) {
    .nav {
        font-size: 14px;
    }
    .nav__ul {
        gap: 20px;
    }
    .nav__center {
        max-width: 200px;
    }

    .stories__text {
        font-size: 50px;
    }
}
@media (max-width: 800px) {
    .nav {
        font-size: 16px;
    }
    .nav__center {
        max-width: 220px;
        height: 30px;
    }
    .nav__left {
        display: none;
    }
    .nav__right {
        display: none;
    }
    .menu-wrap {
        display: block;
    }

    /* STORIES */
    .stories__text {
        font-size: 40px;
    }

    /* NAMES */
    .names__main-text {
        padding: 60px 0 60px 0;
        line-height: 0.85;
        font-size: 90px;
    }
}
@media (max-width: 560px) {
    .stories__play {
        position: absolute;
        width: 50px;
        height: 50px;
    }
    .stories__text {
        font-size: 25px;
    }
    .names__main-text {
        padding: 40px 0 40px 0;
        line-height: 0.85;
        font-size: 70px;
    }

    .names__top-text {
        font-size: 18px;
    }
    .names__base-text {
        font-size: 18px;
    }
    .names__bottom-text {
        font-size: 18px;
    }
    .names__link {
        font-size: 18px;
    }
    .names__container {
        margin: 0 auto;
        padding: 60px 40px;
    }

    .films__title {
        padding: 80px 0;
        font-size: 25px;
    }

    .films__text {
        font-size: 20px;
    }
    .films__link {
        display: block;
        color: black;
        text-align: center;
        margin: 70px auto;
        max-width: 260px;
        font-size: 22px;
    }

    .slides .swiper .swiper-wrapper .swiper-slide {
        height: 400px;
    }
    .slides .swiper .swiper-wrapper .swiper-slide .slide-content .slider__text {
        font-size: 18px;
    }
    .slides .swiper .swiper-wrapper .swiper-slide .slide-content .slider__title {
        font-size: 25px;
    }

    .instagram {
        padding: 25px 0 0 0;
    }
    .instagram__title {
        font-size: 25px;
    }
    .instagram .instSwiper .swiper-wrapper .swiper-slide {
        height: 150px !important;
        width: 150px !important;
    }
    .feedback__container {
        padding: 50px 50px 80px 50px;
    }

    /* FOOTER */
    .footer__container {
        padding: 30px 50px;
    }

    .footer__right {
        font-size: 14px;
        gap: 50px;
    }

    .footer__left {
        padding-top: 40px;

        gap: 14px;
    }

    .footer__left ul li {
        font-size: 14px;

        gap: 18px;
    }
    .footer__left ul li img {
        width: 30px;
        height: 30px;
    }
    .footer__left div {
        display: flex;
        gap: 45px;
    }
    .footer__left div a {
        font-size: 12px;
    }
    .footer__right p {
        padding-left: 20px;
        max-width: 180px;
    }
    .footer__right .img {
        max-width: 220px;
        height: auto;
    }
}

@media (max-width: 420px) {
    .feedback__container {
        flex-direction: column;
    }
    .feedback__container .feedback__text {
        width: auto;
    }

    .slides .swiper .swiper-wrapper .swiper-slide .slide-content .slider__text {
        font-size: 16px;
    }
    .slides .swiper .swiper-wrapper .swiper-slide .slide-content .slider__link {
        font-size: 16px;
    }
    .slides .swiper .swiper-wrapper .swiper-slide .slide-content .slider__title {
        font-size: 20px;
    }

    .films__title {
        padding: 50px 0;
        font-size: 20px;
    }
    .films__text {
        font-size: 16px;
    }

    .films__link {
        font-size: 18px;

        max-width: 210px;
    }

    .stories__text {
        font-size: 18px;
    }
    .names__top-text {
        font-size: 16px;
    }
    .names__main-text {
        font-size: 50px;
    }
    .names__bottom-text {
        font-size: 16px;
    }
    .names__base-text {
        font-size: 16px;
    }
    .names__link {
        font-size: 16px;
        padding-top: 30px;
        max-width: 220px;
    }

    .footer__container {
        padding: 30px 20px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer__left {
        padding-top: 20px;
        gap: 25px;
    }
}

/* PAGE BLOG */
.blog {
    padding: 78px 0 0 0;
    width: 100%;
    justify-items: center;
}
.blog__container {
    margin: 0 auto;
    align-items: center;

    padding: 40px 50px 0 50px;
}
.blog__navigation {
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase !important;
    padding: 25px 0 50px 0;
}
.blog__navigation button {
    display: block;
    text-transform: uppercase !important;
}

.blog__navigation button.active {
    color: #415571;
    padding-bottom: 2px;
    border-bottom: 1px solid #415571;
    text-transform: uppercase !important;
}

.blog__navigation button:hover {
    color: #415571;
    padding-bottom: 2px;
    border-bottom: 1px solid #415571;
    text-transform: uppercase !important;
}
.blog__title {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0 30px 0;
}
.posts {
    justify-items: center;
    max-width: 1350px;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 4px;
}
.post {
    max-width: 262.5px;
}
.post .img {
    max-width: 262.5px;
    max-height: 393.75px;
}
.post .img img {
    width: 100%;
    height: 100%;
}
.post__category {
    max-width: 262.5px;
    display: inline-block;
    color: #a3a3a3;
    margin: 25px 0 22px 0;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #a3a3a3;
    width: auto;
}
.post__title {
    color: #333744;
    font-size: 20px;
}
.post__text {
    font-size: 16px;
    color: #767676;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 20px 0;
    letter-spacing: 0.42px;
}



.post__date {
    font-size: 14px;
    padding: 0 0 10px 0;
    color: #a3a3a3;
}

.final-gallery {
    padding-top: 200px;
    width: 100%;
}
.final-gallery__container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-gallery__title {
    font-size: 36px;
    text-align: center;

    padding-bottom: 30px;
}
.final-gallery__description {
    font-size: 18px;
    max-width: 600px;
    padding: 0 10px 45px 10px;
}

.final-gallery__end {
    padding-top: 40px;
    color: #95a5a6;
    border-bottom: 1px solid #95a5a6;
    font-size: 18px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}
.photo {
    width: 100%;
}

.blog-top__container {
    padding-top: 140px;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}
.blog-top__category {
    text-align: center;
    color: #a3a3a3;
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.blog-top__title {
    text-align: center;
    font-size: 46px;
    padding-bottom: 30px;
}
.blog-top__desciption {
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
}
.blog-top__photos {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
}
.blog-top__photo {
    max-width: 431.47px;
}
.blog-top__photo img {
    width: 100%;
}

.blog-main__container {
    padding: 40px 20px;
    margin: 0 auto;
}

.feedback-top {
    padding-top: 80px;
    width: 100%;
}
.feedback-top__container {
    margin: 0 auto;
    max-width: 420px;
    padding: 10px;
    text-align: center;
}
.feedback-top__title {
    font-size: 35px;
    padding-bottom: 15px;
}
.feedback-top__description {
    font-size: 18px;
    color: #767676;
    padding-bottom: 15px;
}
.feedback-top__text {
    font-size: 16px;
    text-transform: uppercase;
}

.feedback-top__text img {
    padding: 3px 0 0 7px;
}

/* REVIEWS */

.reviews {
    padding-top: 50px;
    width: 100%;
}
.reviews__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.reviews__title {
    font-size: 30px;
    padding-bottom: 30px;
}
.review {
    padding: 40px;
    max-width: 585px;
    display: flex;
    gap: 50px;
    background-color: #f5f5f5;
}
.reviews__container .main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.reviews__name {
    padding-bottom: 15px;
    font-size: 16px;
}
.reviews__type {
    color: #a3a3a3;
    font-size: 14px;
    padding-bottom: 15px;
}
.stars {
    padding-bottom: 12px;
    display: flex;
    gap: 8px;
}
.star {
    width: 19px;
}
.reviews__date {
    font-size: 14px;
    color: #a3a3a3;
}
.review__right {
    max-width: 317px;
}
.review__right .reviews__title {
    font-size: 22px;
    padding-bottom: 20px;
}
.reviews__description {
    color: #767676;
    padding-bottom: 30px;
    font-size: 16px;
}
.reviews__link {
    font-size: 16px;
    color: #1e1e1e;
    display: inline-block;
    border-bottom: 1px solid #1e1e1e;
}

/* GALLERY VIDEOS */
.gallery-videos {
    padding-top: 100px;
}
.gallery-videos__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.gallery-videos__title {
    font-size: 31px;
    padding-bottom: 20px;
}
.gallery-videos__container .videos.to21 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;
}
.gallery-videos__container .videos.to12 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2px;
}

.gallery-videos__container .videos .videos__small .row {
    display: grid;
    grid-row-gap: 2px;
}
.gallery-videos__container .videos div .img {
    width: 100%;
    height: 100%;
}
.gallery-videos__container .videos div .img img {
    width: 100%;
    height: 100%;
}

/* MAIN-TEXT  */
.main-text {
    width: 100%;
}
.main-text__container {
    max-width: 1240px;
    padding: 90px 20px 10px 20px;
    margin: 0 auto;
}
.main-text__top {
    display: flex;
    justify-content: space-between;
}
.main-text__left .avatar {
    margin-bottom: 40px;
    max-width: 83px;
    max-height: 83px;
    width: 100%;
}
.main-text__left .avatar img {
    border-radius: 41px;
}
.main-text__right {
    max-width: 600px;
}

.main-text__navigation {
    color: #a3a3a3;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.main-text__movies {
    font-size: 38px;
    padding-bottom: 50px;
}
.main-text__awards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    text-justify: center;
    justify-items: center;
    text-transform: uppercase;
    color: #252525;
}
.main-text__award {
    display: flex;
    gap: 7px;
}
.main-text__award p {
    padding-top: 2px;
}

.main-text__award .img img {
    width: 20px;
    height: 20px;
}
.main-text__title {
    padding-top: 40px;
    font-size: 22px;
    padding-bottom: 30px;
}
.main-text__description {
    font-size: 16px;
    padding-bottom: 30px;
    color: #767676;
}
.badge {
    width: 100%;
    background-color: #fbfbfb;
    text-align: center;
}
.badge__company {
    padding: 40px 0 20px 0;
    color: #a3a3a3;
    font-size: 12px;
    text-transform: uppercase;
}
.badge__title {
    font-size: 18px;
    padding-bottom: 50px;
}
.main-text__bottom {
    padding-top: 35px;
}
.main-text__bottom p {
    font-size: 16px;
    color: #767676;
}

/* MAIN VIDEO */
.main-video {
    width: 100%;
}
.main-video__container {
    margin: 0 auto;
    max-width: 1240px;
    max-height: 521px;
    padding: 101px 20px 10px 20px;
}
.main-video__container img {
    width: 100%;
    max-height: 410px;
    position: relative;
}
.main-video__container .play {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 86px;
    height: 86px;
    top: 250px;

    margin-left: auto;
    margin-right: auto;
}

/* PORTFOLIO MOBILE */

@media (max-width: 800px) {
    .review {
        flex-direction: column;
    }
    .main-text__top {
        flex-direction: column;
        align-items: center;
    }
    .main-text__left {
        display: flex;
        width: 100%;
        gap: 100px;
        justify-content: center;
    }
}

/* POST MOBILE */
@media (max-width: 800px) {
    .posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog-top__container {
        padding: 100px 20px 0 20px;
    }
    .final-gallery {
        padding-top: 0px;
    }
    .final-gallery__container {
        padding: 0 20px;
    }
    .blog__container {
        padding: 40px 20px 0 20px;
    }
    .blog__title {
        padding: 10px 0 30px 0;
    }
    .feedback__container {
        padding: 75px 20px 75px 20px;
    }
}
@media (max-width: 600px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }
}

/* REVIEWS */
@media (max-width: 500px) {
    .reviews__container .main {
        grid-template-columns: 1fr;
    }
}

.videos__big .img {
    position: relative;
}

.videos__big .img .play {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 86px;
    height: 86px;
    top: 183px;

    margin-left: auto;
    margin-right: auto;
}

.videos__small .img {
    position: relative;
}
.videos__small .img .play {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 86px;
    height: 86px;
    top: 70px;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    .videos__big .img .play {
        top: 120px;
    }

    .videos__small .img .play {
        top: 40px;
    }
}
@media (max-width: 800px) {
    .videos__big .img .play {
        top: 100px;
        width: 50px;
        height: 50px;
    }

    .videos__small .img .play {
        top: 30px;
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .videos__big .img .play {
        top: 75px;
        width: 30px;
        height: 30px;
    }

    .videos__small .img .play {
        top: 25px;
        width: 30px;
        height: 30px;
    }
    .main-video__container .play {
        top: 200px;
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 420px) {
    .videos__big .img .play {
        top: 50px;
        width: 30px;
        height: 30px;
    }

    .videos__small .img .play {
        top: 20px;
        width: 30px;
        height: 30px;
    }
    .main-video__container .play {
        top: 180px;
        width: 45px;
        height: 45px;
    }
}

/* MAIN-REVIEW */

.main-review {
    width: 100%;
    padding-top: 80px;
}
.main-review__container {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 0 20px 30px 20px;
    gap: 20px;
}
.main-review__left {
    max-width: 390px;
}
.main-review__name {
    padding-left: 5px;
    padding-bottom: 20px;
    font-size: 40px;
}
.main-review__left .img {
    max-width: 390px;
    max-height: 600px;
    border-radius: 41px;
}
.main-review__left .img img {
    width: 100%;
    height: 100%;
    border-radius: 41px;
}
.main-review__right {
    max-width: 600px;
}
.main-review__title {
    font-size: 22px;
}
.main-review__description {
    padding: 30px 0;
    color: #767676;
    font-size: 18px;
    line-height: 1.26;
}

/* REVIEW-GALLERY */

.review-gallery {
    padding-top: 80px;
    width: 100%;
}
.review-gallery__container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-gallery__title {
    font-size: 30px;
    text-align: left;

    padding-bottom: 30px;
}

.review-gallery__container .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    padding-bottom: 40px;
}
.photo {
    width: 100%;
}

/* REELS */
.reels {
    width: 100%;
    padding: 60px 0;
}
.reels__container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.reels__left {
    max-width: 390px;
    max-height: 600px;
    position: relative;
}

.reels__left .img {
    max-width: 390px;
    max-height: 600px;
    border-radius: 41px;
}
.reels__left .img img {
    width: 100%;
    height: 100%;
    border-radius: 41px;
}
.reels__left .play {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 86px;
    height: 86px;
    top: 250px;

    margin-left: auto;
    margin-right: auto;
}
.reels__right {
    max-width: 600px;
}
.reels__description {
    width: 100%;
    color: #767676;
    font-size: 18px;
}
.reels__title {
    width: 100%;
    font-size: 22px;
    padding-bottom: 20px;
}

/* GUIDE */
.guide {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 40px;
}
.guide__container {
    max-width: 1240px;
    padding: 87px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
}
.guide__left {
    padding-top: 40px;
    max-width: 445px;
}
.guide__category {
    font-size: 14px;
    text-transform: uppercase;
    color: #828282;
    padding-bottom: 10px;
}
.guide__title {
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.guide__description {
    font-size: 18px;
    color: #333744;
    padding-bottom: 40px;
}
.guide__btn {
    padding: 23px 60px;
    display: inline-block;
    border: 1px solid #000000;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}
.guide__right {
    width: 528px;
    height: 573px;
}
.guide__img {
    width: 528px;
    height: 573px;
    position: relative;
}
.guide__img-top {
    position: absolute;
    width: 321px;
    height: 458px;
    top: 0;
    right: 0;
    z-index: 100;
}
.guide__img-bottom {
    position: absolute;
    width: 321px;
    height: 458px;
    bottom: 0;
    left: 0;
}

/* GUIDE-BLOCK */
.guide-block {
    width: 100%;
    padding-top: 100px;
}
.guide-block__container {
    max-width: 1240px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
}
.guide-block__container.reverse {
    flex-direction: row-reverse;
}
.guide-block__left {
    padding-top: 60px;
    max-width: 540px;
}
.guide-block__title {
    font-size: 32px;
    padding-bottom: 40px;
    line-height: 1.28;
}
.guide-block__description {
    font-size: 16px;
    color: #333744;
}
.guide-block__right {
    max-width: 540px;
}
.guide-block__right .img {
    max-width: 540px;
    max-height: 590px;
}
.guide-block__right .img {
    width: 100%;
    height: 100%;
}

/* SALE */
.sale {
    width: 100%;
    padding: 100px 0 30px 0;
    /* background-color: #F8F8F8; */
}
.sale__container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sale__phone {
    width: 400px;
    height: 787px;
    background-color: #fff;
    border-radius: 56px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sale__phone .main {
    width: 372px;
    background-image: url("../img/phone.png");
    background-size: cover;
    height: 760px;
    position: relative;
}
.sale__version {
    font-size: 28px;
    left: 36px;
    padding: 20px 0;
    color: white;
    font-weight: 500;
}
.sale__info {
    font-size: 14px;
    padding-bottom: 30px;
    color: white;
}

.sale__blur {
    position: absolute;
    padding: 0 36px;
    bottom: 20px;
    backdrop-filter: blur(20px);
}
.sale__bottom {
    margin-top: -200px;
    width: 452px;
    height: 689px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 31px;
    position: relative;
}
.sale__title {
    position: absolute;
    left: 0;
    right: 0;

    font-size: 55px;

    margin-left: auto;
    margin-right: auto;
    bottom: 290px;
    text-align: center;
}
.sale__link {
    position: absolute;
    left: 0;
    right: 0;
    width: 230px;
    padding: 23px 12px;
    display: inline-block;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    bottom: 177px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.sale__description {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    bottom: 80px;
}
.sale__explanation {
    position: absolute;
    max-width: 200px;
    font-size: 22px;
    line-height: 1.3;

    z-index: 10000000;
    color: black;
}
.sale__explanation p {
    font-weight: 300 !important;
}
.sale__explanation.first {
    top: 220px;
    left: 170px;
    max-width: 200px;
}
.sale__explanation.second {
    top: 200px;
    right: 205px;
    max-width: 150px;
}
.sale__explanation.third {
    top: 605px;
    right: 200px;
    max-width: 180px;
}
.sale__line {
    position: absolute;
    z-index: 2;
}
.sale__line.first {
    top: 350px;
    left: 230px;
}
.sale__line.second {
    top: 81px;
    right: 313px;
}
.sale__line.third {
    top: 520px;
    right: 313px;
}
@media (max-width: 1000px) {
    .guide {
        padding-bottom: 0;
    }
    .guide__container {
        padding: 0 20px;
    }
    .guide__img {
        width: 370px;
        height: 80%;
    }
    .guide__img-top {
        width: 225px;
        height: 80%;
    }
    .guide__img-bottom {
        width: 225px;
        height: 80%;
    }
    .guide__right {
        width: auto;
        height: auto;
    }
    .guide-block {
        width: 100%;
        padding-top: 60px;
    }

    .sale__explanation.first {
        left: 8vw;
    }
    .sale__explanation.second {
        right: 10vw;
    }
    .sale__explanation.third {
        right: 8vw;
    }
    .sale__line.first {
        left: 15vw;
    }
    .sale__line.second {
        right: 21.74vw;
    }
    .sale__line.third {
        right: 21.74vw;
    }
}
@media (max-width: 800px) {
    .sale__explanation.first {
        left: 4vw;
    }
    .sale__explanation.second {
        right: 6vw;
    }
    .sale__explanation.third {
        right: 4vw;
    }
    .sale__line.first {
        left: 13vw;
    }
    .sale__line.second {
        right: 20vw;
    }
    .sale__line.third {
        right: 20vw;
    }
}
@media (max-width: 700px) {
    .guide {
        padding-top: 100px;
    }

    .guide__container {
        align-items: center;
        flex-direction: column-reverse;
    }
    .guide__img {
        height: 320px;
    }

    .guide__right {
        height: 320px;
    }

    .guide-block__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .guide-block__container.reverse {
        flex-direction: column-reverse;
        align-items: center;
    }
    .guide-block__left {
        padding-top: 20px;
    }

    .guide-block__title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sale__phone {
        width: 310px;
        background-size: cover;
        height: 620px;
    }
    .sale__phone .main {
        width: 290px;
        height: 600px;
    }
    .sale__explanation {
        font-size: 16px;
    }
    .sale__explanation.first {
        left: 4vw;
    }
    .sale__explanation.second {
        right: 6vw;
    }
    .sale__explanation.third {
        right: 4vw;
    }
    .sale__line.first {
        left: 13vw;
    }
    .sale__line.second {
        right: 20vw;
    }
    .sale__line.third {
        right: 20vw;
    }
    .sale__blur {
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .sale__phone {
        width: 310px;
        background-size: cover;
        height: 620px;
    }
    .sale__phone .main {
        width: 290px;
        height: 600px;
    }
    .sale__explanation {
        display: inline-block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 500px !important;
        max-width: auto !important;
        font-size: 16px;
    }
    .sale__explanation p {
        display: block;
        width: 100%;
    }

    .sale__explanation.first {
        left: 2vw;
    }
    .sale__explanation.second {
        right: 2vw;
        max-width: 200px;
    }
    .sale__explanation.third {
        right: 2vw;
        top: 435px;
    }
    .sale__line.first {
        left: 19vw;
        top: 330px;
        width: 100px;
    }
    .sale__line.second {
        right: 21vw;
        top: 31px;
        width: 100px;
    }
    .sale__line.third {
        top: 310px;
        width: 90px;
        right: 20vw;
    }
    .sale__blur {
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
    }
    .sale__bottom {
        margin-top: -250px;
        width: 410px;
    }
}
@media (max-width: 540px) {
    .sale__explanation.first {
        left: -20px;
    }
    .sale__explanation.second {
        top: 180px;
        right: -20px;
        max-width: 200px;
    }
    .sale__explanation.third {
        right: -20px;
        top: 420px;
    }
    .sale__line.first {
        left: 15vw;
        top: 330px;
        width: 50px;
    }
    .sale__line.second {
        right: 16vw;
        top: 41px;
        width: 50px;
    }
    .sale__line.third {
        top: 310px;
        width: 50px;
        right: 16vw;
    }
}
@media (max-width: 490px) {
    .sale__explanation.first {
        left: -30px;
    }
    .sale__explanation.second {
        top: 180px;
        right: -30px;
        max-width: 200px;
    }
    .sale__explanation.third {
        right: -30px;
        top: 420px;
    }
    .sale__line.first {
        left: 15vw;
        top: 330px;
        width: 50px;
    }
    .sale__line.second {
        right: 16vw;
        top: 41px;
        width: 50px;
    }
    .sale__line.third {
        top: 310px;
        width: 50px;
        right: 16vw;
    }
}
@media (max-width: 490px) {
    .sale__explanation.first {
        left: -55px;
    }
    .sale__explanation.second {
        top: 160px;
        right: -55px;
        max-width: 200px;
    }
    .sale__explanation.third {
        right: -55px;
        top: 410px;
    }
    .sale__line.first {
        left: 11vw;
        top: 330px;
        width: 50px;
    }
    .sale__line.second {
        right: 12vw;
        top: 41px;
        width: 50px;
    }
    .sale__line.third {
        top: 310px;
        width: 50px;
        right: 12vw;
    }
}

@media (max-width: 410px) {
    .sale__phone .main {
        width: 210px;
        height: 430px;
    }
    .sale__phone {
        width: 230px;
        height: 450px;
    }

    .sale__explanation.first {
        left: -29px;
    }
    .sale__explanation.second {
        top: 160px;
        right: -30px;
        max-width: 200px;
    }
    .sale__explanation.third {
        right: -25px;
        top: 410px;
    }
    .sale__line.first {
        left: 17vw;
        top: 330px;
        width: 50px;
    }
    .sale__line.second {
        right: 18vw;
        top: 41px;
        width: 50px;
    }
    .sale__line.third {
        top: 310px;
        width: 50px;
        right: 17vw;
    }
    .sale__bottom {
        margin-top: -240px;
        width: 280px;
        height: 500px;
    }
    .sale__link {
        width: 200px;
    }
    .sale__link {
        bottom: 107px;
    }
    .sale__title {
        font-size: 30px;

        bottom: 200px;
    }
    .sale__description {
        bottom: 40px;
    }
}

@media (max-width: 900px) {
    .main-review__container {
        flex-direction: column;
        align-items: center;
    }
    .main-review__left .img {
        max-width: 200px;
        max-height: 300px;
    }
    .main-review__name {
        padding-left: 0;
        text-align: center;
        font-size: 30px;
    }
    .reels__container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .reels__left .img {
        max-width: 340px;
    }
    .reels__left .play {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        width: 86px;
        height: 86px;
        top: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 600px) {
    .review-gallery__container .photos {
        grid-template-columns: 1fr 1fr;
    }
    .review-gallery__container .photos .photo {
        max-width: 300px;
    }
}
.cookie {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000;
}
.cookie__container {
    position: relative;
    padding: 20px 25px;
    max-width: 350px;
    width: 100%;
    background-color: #898989;
    border-radius: 10px;
}
.cookie__title {
    font-size: 22px;
    margin-bottom: 5px;
}
.cookie__description {
    font-size: 14px;
    margin-bottom: 20px;
}
.cookie__btn {
    font-size: 14px;
    background-color: black;
    padding: 12px 14px;
    color: white;
    border-radius: 8px;
}
.cookie__link {
    color: black;
    border-bottom: 1px solid black;
}
.cookie__link:hover {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
.cookie__container .cross {
    position: absolute;
    top: 0;
    right: 0;
}
.hidden {
    display: none;
}
.text__container {
    margin: 0 auto;
    max-width: 1240px;
    font-size: 18px;
    padding: 140px 20px 0 20px;
}
.text__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}
.menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu .nav__li {
    font-size: 20px;
    display: block;
    color: white;
}
.modal-content {
    padding: 10px
}
